body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .5rem 0;
  background-color: #0D0D0D;
  text-align: center;
  font-family: 'Savate', sans-serif;
  font-size: 1.5rem;
  color: #CAA7D9;
}

h2 {
  font-family: 'Savate', sans-serif;
  font-size: 1.25rem;
}

.App {
  height: 100%;
  padding: 0 15% 10% 15%;
  background-color: #5c0e14;
  font-family: 'Savate', sans-serif;
  font-weight: 600;
  color: #A056BF;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}